<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FrameworkPod-FrameworkPod.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>FrameworkPod.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Kiwi.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>PodAsset.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-PodAsset_Example.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-PodAsset_Tests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>TestPod-TestPod.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C7FC99D1E621F7E823EF1A180A67CCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72203A8F371EA5EC45318E10D54DB52E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C763250B8FED5DAF354259DAFEECF55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4DAF5F21723BA7388FAF791F0C7450D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFC033EB15A8DCED2F72CBF393902F87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D02CDCD5B9413413A0DF8341CFE9A607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3567FB7CA4EFB07F8130147CE228F01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
